input[type="search"] {
    padding-left: 50px;
    background-image: url("img/search.svg");
    background-repeat: no-repeat;
    background-position: 20px;
    background-origin: border-box;
}

.bg-light-blue {
    background-color: #e5e5e5;
}

aside .col-auto {
    background-image: url(img/sidebar-bg.png);
    background-color: #051e34;
    background-size: cover;
    border: 1px solid lime;
}

#navbarSupportedContent {
    flex-basis: 10%;
    margin-left: auto;
    display: flex;
}

aside .col-auto {
    min-width: 9%;
}