.bg-light-blue {
    background-color: #e5e5e5;
}

.bg-blue {
    background-color: #1b72e8;
}

.bg-dark-blue {
    background-color: #165bba;
}


header nav.navbar {
    height: 80px;
}

.navbar-brand img {
    width: auto;
    max-height: 60px;
}

.navbar-brand {
    max-height: 100%;
}

.sidebar {
    height: 100%;
    background-image: url(img/sidebar-bg.png);
    background-color: #051e34;
    background-size: cover;
    min-height: calc(100vh - 80px)
}

main .container-fluid {
    min-height: calc(100vh - 80px)
}

main .container-fluid,
.content .row {
    --bs-gutter-x: 0;
}